<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>template</title>
</head>

<body>

    <table class="ui very basic four column table">
        <thead>
            <tr>
                <th></th>
                <th>job</th>
                <th>status</th>
                <th>progress</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="collapsing">
                    <div class="ui ribbon label">Armin Akhavan</div>
                </td>
                <td>test_address.csv</td>
                <td>working</td>
                <td><progress value="0" max="100"></progress></td>
            </tr>
        </tbody>
    </table>




</body>

</html>