<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>template</title>
</head>

<body>
    <div class="ui grid">
        <div class="sixteen wide row">

            <div class="twelve wide column">

                <h3 class="h3" style="display:inline;">Boston Area Research Initiative<sup "border-width: thin; left: 5px;"><i class="small circle info icon" id="click_about_modal" style="margin-right: 0px;"></i></sup>
                </h3>
                <h6 class="h6" style="display:inline;">geocoding <i>infrastructure</i> and land parcels <i>repository</i></h6>

            </div>




            <div class="four wide column">
                <div class="ui secondary menu">
                    <div class="right menu">
                        <a class="ui item" id="log-in" style="display: none;">
                    login
                </a>
                        <a class="ui item" id="log-out" href="logout">
                    logout
                </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>